@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash);

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px
}
header {
	text-align: left
}
header h1 {
	margin-top: -10px
}
header h1 a {
	float: left;
	margin: 0 auto;
	display: block;
	border: 0;
	width: 80px;
	height: 80px;
	outline: none!important
}
div#search_box {
	float: left;
	margin-left: 25px
}
div#search_box form p input[type="search"] {
	padding: 5px;
	width: 550px
}
button[type="submit"] {
	padding: 5px 10px;
	margin-left: 10px
}
div.page_heading {
	background-color: #ddd;
	clear: both
}
div.page_heading p {
	padding: 5px
}
div.main_content {
	text-align: left;
	width:30%;
	margin:0px auto
}
table {
	border-collapse: collapse;
	width: 80%;
	margin: 0 auto
}
td,
th {
	border: 1px solid #ddd;
	text-align: left;
	padding: 8px
}
td:first-child {
	text-align: center
}
td:last-child {
	text-align: center
}
tr:nth-child(even) {
	background-color: #ddd
}
div.pagination {
	text-align: center;
	margin-top: 10px
}
.container {
	width: 30%;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ddd
}
input[type=text],
input[type=email],
textarea {
	width: 100%;
	padding: 5px;
	border: 1px solid #ddd;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical
}
input[type=submit] {
	border: none;
	cursor: pointer
}
footer {
	margin: 5em auto;
	text-align: center
}
footer nav {
	display: block
}
footer nav a {
	color: #009;
	text-decoration: none;
	border-bottom: 1px dotted #000
}
footer nav a:hover {
	border-bottom: 1px solid #009
}
